body {
 background: papayawhip;
  box-sizing: border-box;
}
body {
  box-sizing: border-box;
  background: papayawhip;
}

.child {
  border: solid 1px black;
  text-align: center;
}

.flex {
  display: flex;
}

.a {
  text-align: center;
}

.b {
  padding: 100px;
  margin-top: 10px;
  max-width: 100%;

}

.c {
  padding: 100px;
    margin-top: 10px;
    max-width: 100px;
}

.d {
  padding: 100px;
  margin-top: 10px;
  max-width: 100%;
}

.e {
  padding: 100px;
  margin-top: 10px;
  max-width: 100%;
  margin-left: 10px;
}

.f {
  padding: 100px;
  margin-top: 10px;
  margin-left: 10px;
  max-width: 100%;
}

.g {
  padding: 100px;
   margin-top: 10px; 
   margin-left: 10px;
   max-width: 100%;
}

.h {
  padding: 330px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
}






@media (max-width: 600px) {
  .flex {
    flex-direction: column;
  }



 
}

@media and all {}