body {
 background: papayawhip;
  box-sizing: border-box;
}
body {
  box-sizing: border-box;
  background: papayawhip;
}

.child {
  border: solid 1px black;
  text-align: center;
}
.parent {
  display: flex;
}
.child-parent {
  display: flex;
}

.parent-2 {
  display: flex;
}


.a {
  padding: 10px;

}

.b {

  margin-top: 10px;
  padding: 50px;
  margin-right: 10px;

}

.c {
  margin-right: 10px;
margin-top: 10px;
  padding: 50px;
}

.d {
  margin-right: 10px;
  margin-top: 10px;
    padding: 50px;
}

.e {
  margin-right: 10px;
  margin-top: 10px;
    padding: 50px;
}

.f {
  margin-right: 10px;
margin-top: 10px;
  padding: 50px;
}

.g {
  margin-right: 10px;
  margin-top: 10px;
  padding: 50px;
}

.h {
 margin-top: 10px;
  padding: 50px;
align-self: flex-end;
  
}

@media (max-width: 600px) {
  .flex {
    flex-direction: column;
  }

  .flex>.parent {
    width: 100%;
  }

  .flex>.parent-2 {
    width: 100%;
  }
}

@media and all {}