body {
  box-sizing: border-box;
  background-color: papayawhip;
}

.a{
  margin: auto;
  text-align: center;
  border: solid 1px black;
}

.b {
padding: 100px;
 
  margin-top: 10px;
  text-align: center;
  border: solid 1px black;
  max-width: 100%;
  margin-right: 2%;
  

}

.c {
  padding: 100px;

  margin-top: 10px;
  text-align: center;
  border: solid 1px black;
  max-width: 100%;


 
}

.flex {
  display: flex;


}
.parent {
  flex:1;

}

@media (max-width: 600px) {
  .flex {
    flex-direction: column;
  }
  .flex> .parent {
    width: 100%;
  }
}
@media and all {

}

