body {
  box-sizing: border-box;
  background-color: papayawhip;
}

.a{
  margin: auto;
  text-align: center;
  border: solid 1px black;
}
/* used individual class tags to create each bordered div*/
.b {
padding: 100px;
 
  margin-top: 10px;
  text-align: center;
  border: solid 1px black;
  max-width: 100%;
  margin-right: 2%;
  

}

.c {
  padding: 100px;

  margin-top: 10px;
  text-align: center;
  border: solid 1px black;
  max-width: 100%;


 
}

.flex {
  display: flex;


}
.parent {
  flex:1;

}
/* @media used to replicate as closely as I am able to do so at the moment. I still
 need to learn more about flexbox and using media queries.*/

@media (max-width: 600px) {
  .flex {
    flex-direction: column;
  }
  .flex> .parent {
    width: 100%;
  }
}
@media and all {

}

