body {
  box-sizing: border-box;
  background: papayawhip;
  
}

.child {
  border: 1px solid black;
 
}

.flex {
  display: flex;
}
.a {
  text-align: center;
}
.b {
  padding: 5%; 
  margin-top: 10px;
 
  text-align: center;
  height: 50%;
}
.c {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: .5%;
  text-align: center;
}
.d { 
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: .5%;
  text-align: center;
}

.e {
  margin: auto;
  text-align: center;
}

.flex>.parent {
  width: 75%;
}

.flex>.parent-2 {
  width: 25%;
}

.child-parent {
  display: flex;
}

.child-parent>* {
  flex: 1;
}

.f {
  padding: 8.5%;
margin: auto;
margin-left: .5%;
margin-top: 10px;
text-align: center;
height: 93%;

}

@media (max-width: 600px) {
  .flex {
    flex-direction: column;
  }

  .flex>.parent {
    width: 100%;
  }

  .flex>.parent-2 {
    width: 100%;
  }
}

@media and all {
  
}